<!DOCTYPE HTML>

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div id="app-7" class="container">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="lfo-tab" data-toggle="tab" href="#lfo" role="tab" aria-controls="lfo" aria-selected="true">LFO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="wg-tab" data-toggle="tab" href="#wg" role="tab" aria-controls="wg" aria-selected="false">Wave generators</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="global-tab" data-toggle="tab" href="#global" role="tab" aria-controls="global" aria-selected="false">Global</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reverb-tab" data-toggle="tab" href="#reverb" role="tab" aria-controls="reverb" aria-selected="false">Reverb</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="lfo" role="tabpanel" aria-labelledby="lfo-tab">
                <div v-for="(lfo, index) in lfos">
                    <p><b>Low frequency oscillator {{index}}</b></p>

                    <p>Waveform type</p>
                    <select :data-synthId="'LFO[' + index + '].Type'" class="form-control" v-model="lfo.selectedWaveformType" @input="signalChange">
                        <option v-for="item in enumerations.lfowaveformtype">{{item.text}}</option>
                    </select>

                    <p>Frequency</p>
                    <input :data-synthId="'LFO[' + index + '].Frequency'" class="form-control" type="range" min="0" max="10" step="0.01" v-model="lfo.frequency" @input="signalChange">
                    <input :data-synthId="'LFO[' + index + '].Frequency'" class="form-control" type="number" step="0.01" v-model="lfo.frequency" @input="signalChange">

                </div>
            </div>

            <div class="tab-pane fade show active" id="wg" role="tabpanel" aria-labelledby="wg-tab">
                <div v-for="(wg, index) in wavegenerators">

                    <p><b>Wave generator {{index}}</b></p>

                    <div>
                        <!-- Wave generator type parametrers-->
                        <p>Waveform type</p>
                        <select :data-synthId="'WG[' + index + '].Type'" name="waveformType" class="form-control" v-model="wg.waveform.selectedWaveformType" @input="signalChange">
                            <option v-for="item in enumerations.waveformtype">{{item.text}}</option>
                        </select>

                        <p>PWM LFO ID</p>
                        <select :data-synthId="'WG[' + index + '].PWMLFOid'" name="pwmLFOId" class="form-control" v-model="wg.waveform.pwmLFOId" @input="signalChange">
                            <option v-for="item in enumerations.lfoID">{{item.text}}</option>
                        </select>

                        <p>PWM LFO Level</p>
                        <input :data-synthId="'WG[' + index + '].PWMLFOLevel'" type="range" min="0" max="1" step="0.01" v-model="wg.waveform.pwmLFOLevel" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].PWMLFOLevel'" type="number" step="0.01" v-model="wg.waveform.pwmLFOLevel" @input="signalChange">
                    </div>
                    <div>
                        <!-- Pitch parameters -->
                        <p>Pitch bend</p>
                        <input :data-synthId="'WG[' + index + '].EnablePitchBend'" type="checkbox" v-model="wg.pitch.enablePitchBend" @input="signalChange" />

                        <p>Pitch bend semitones</p>
                        <input :data-synthId="'WG[' + index + '].PitchBendAmount'" type="range" min="-12" max="12" step="0.01" v-model="wg.pitch.pitchBendSemitones" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].PitchBendAmount'" type="number" step="0.25" v-model="wg.pitch.pitchBendSemitones" @input="signalChange">

                        <p>Pitch offest semitones</p>
                        <input :data-synthId="'WG[' + index + '].KeyOffestSemitones'" type="range" min="-12" max="12" step="0.01" v-model="wg.pitch.pitchOffestSemitones" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].KeyOffestSemitones'" type="number" step="0.25" v-model="wg.pitch.pitchOffestSemitones" @input="signalChange">

                        <p>Pitch LFO ID</p>
                        <select :data-synthId="'WG[' + index + '].FreqLFOid'" name="pwmLFOId" class="form-control" v-model="wg.pitch.pitchLFOId" @input="signalChange">
                            <option v-for="item in enumerations.lfoID">{{item.text}}</option>
                        </select>

                        <p>Pitch LFO Level</p>
                        <input :data-synthId="'WG[' + index + '].FreqLFOLevel'" type="range" min="0" max="1" step="0.01" v-model="wg.pitch.pitchLFOLevel" @input="signalChange">
                        <input type="number" step="0.01" v-model="wg.pitch.pitchLFOLevel" @input="signalChange">

                        <p>Pitch LFO Delay</p>
                        <input :data-synthId="'WG[' + index + '].FreqLFODelay'" type="range" min="0" max="10" step="0.1" v-model="wg.pitch.pitchLFODelay" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].FreqLFODelay'" type="number" step="0.1" v-model="wg.pitch.pitchLFODelay" @input="signalChange">

                        <div>
                            <!-- Pitch envelope-->
                            <p>Pitch Envelope</p>

                            <p>T1</p>
                            <input :data-synthId="'WG[' + index + '].TDP.T1'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.T1" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.T1'" type="number" step="0.1" v-model="wg.pitch.tdp.T1" @input="signalChange">

                            <p>L1</p>
                            <input :data-synthId="'WG[' + index + '].TDP.L1'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.L1" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.L1'" type="number" step="0.1" v-model="wg.pitch.tdp.L1" @input="signalChange">

                            <p>T2</p>
                            <input :data-synthId="'WG[' + index + '].TDP.T2'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.T2" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.T2'" type="number" step="0.1" v-model="wg.pitch.tdp.T2" @input="signalChange">

                            <p>L2</p>
                            <input :data-synthId="'WG[' + index + '].TDP.L2'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.L2" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.L2'" type="number" step="0.1" v-model="wg.pitch.tdp.L2" @input="signalChange">

                            <p>T3</p>
                            <input :data-synthId="'WG[' + index + '].TDP.T3'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.T3" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.T3'" type="number" step="0.1" v-model="wg.pitch.tdp.T3" @input="signalChange">

                            <p>Sustain</p>
                            <input :data-synthId="'WG[' + index + '].TDP.Sustain'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.Sustain" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.Sustain'" type="number" step="0.1" v-model="wg.pitch.tdp.Sustain" @input="signalChange">

                            <p>T4</p>
                            <input :data-synthId="'WG[' + index + '].TDP.T4'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.T4" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.T4'" type="number" step="0.1" v-model="wg.pitch.tdp.T4" @input="signalChange">

                            <p>L4</p>
                            <input :data-synthId="'WG[' + index + '].TDP.L4'" type="range" min="0" max="60" step="0.1" v-model="wg.pitch.tdp.L4" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDP.L4'" type="number" step="0.1" v-model="wg.pitch.tdp.L4" @input="signalChange">

                        </div>

                    </div>
                    <div>
                        <!-- Amplitude parameters-->
                        <p>Velocity volume adjust</p>
                        <input :data-synthId="'WG[' + index + '].VelocityVolumeAdjust'" type="range" min="0" max="1" step="0.1" v-model="wg.amplitude.velocityVolumeAdjust" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].VelocityVolumeAdjust'" type="number" step="0.1" v-model="wg.amplitude.velocityVolumeAdjust" @input="signalChange">

                        <p>Velocity pan adjust</p>
                        <input :data-synthId="'WG[' + index + '].VelocityPanAdjust'" type="range" min="0" max="1" step="0.1" v-model="wg.amplitude.velocityPanAdjust" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].VelocityPanAdjust'" type="number" step="0.1" v-model="wg.amplitude.velocityPanAdjust" @input="signalChange">

                        <div>
                            <!-- Pitch envelope-->
                            <p>Amplitude Envelope</p>

                            <p>T1</p>
                            <input :data-synthId="'WG[' + index + '].TDA.T1'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.T1" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.T1'" type="number" step="0.1" v-model="wg.amplitude.tda.T1" @input="signalChange">

                            <p>L1</p>
                            <input :data-synthId="'WG[' + index + '].TDA.L1'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.L1" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.L1'" type="number" step="0.1" v-model="wg.amplitude.tda.L1" @input="signalChange">

                            <p>T2</p>
                            <input :data-synthId="'WG[' + index + '].TDA.T2'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.T2" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.T2'" type="number" step="0.1" v-model="wg.amplitude.tda.T2" @input="signalChange">

                            <p>L2</p>
                            <input :data-synthId="'WG[' + index + '].TDA.L2'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.L2" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.L2'" type="number" step="0.1" v-model="wg.amplitude.tda.L2" @input="signalChange">

                            <p>T3</p>
                            <input :data-synthId="'WG[' + index + '].TDA.T3'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.T3" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.T3'" type="number" step="0.1" v-model="wg.amplitude.tda.T3" @input="signalChange">

                            <p>Sustain</p>
                            <input :data-synthId="'WG[' + index + '].TDA.Sustain'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.Sustain" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.Sustain'" type="number" step="0.1" v-model="wg.amplitude.tda.Sustain" @input="signalChange">

                            <p>T4</p>
                            <input :data-synthId="'WG[' + index + '].TDA.T4'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.T4" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.T4'" type="number" step="0.1" v-model="wg.amplitude.tda.T4" @input="signalChange">

                            <p>L4</p>
                            <input :data-synthId="'WG[' + index + '].TDA.L4'" type="range" min="0" max="60" step="0.1" v-model="wg.amplitude.tda.L4" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDA.L4'" type="number" step="0.1" v-model="wg.amplitude.tda.L4" @input="signalChange">

                        </div>
                    </div>
                    <div>
                        <!-- Filter parameters -->
                        <p>Filter type</p>
                        <select :data-synthId="'WG[' + index + '].Filter.FilterType'" name="filterType" class="form-control" v-model="wg.filter.filterType" @input="signalChange">
                            <option v-for="item in enumerations.filterType">{{item.text}}</option>
                        </select>

                        <p>Q</p>
                        <input :data-synthId="'WG[' + index + '].Filter.Q'" type="range" min="0" max="100" step="1" v-model="wg.filter.Q" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].Filter.Q'" type="number" step="1" v-model="wg.filter.Q" @input="signalChange">

                        <p>Relative freq</p>
                        <input :data-synthId="'WG[' + index + '].Filter.RelativeFrequency'" type="range" min="0.1" max="10" step="1" v-model="wg.filter.RelativeFrequency" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].Filter.RelativeFrequency'" type="number" step="1" v-model="wg.filter.RelativeFrequency" @input="signalChange">

                        <p>Velocity freq</p>
                        <input :data-synthId="'WG[' + index + '].Filter.VelocityFactor'" type="range" min="-1.0" max="1.0" step="0.1" v-model="wg.filter.Velocity" @input="signalChange">
                        <input :data-synthId="'WG[' + index + '].Filter.VelocityFactor'" type="number" step="0.1" v-model="wg.filter.Velocity" @input="signalChange">

                        <div>
                            <!-- Filter envelope-->
                            <p>Filter Envelope</p>

                            <p>T1</p>
                            <input :data-synthId="'WG[' + index + '].TDF.T1'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.T1" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.T1'" type="number" step="0.1" v-model="wg.filter.tdf.T1" @input="signalChange">

                            <p>L1</p>
                            <input :data-synthId="'WG[' + index + '].TDF.L1'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.L1" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.L1'" type="number" step="0.1" v-model="wg.filter.tdf.L1" @input="signalChange">

                            <p>T2</p>
                            <input :data-synthId="'WG[' + index + '].TDF.T2'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.T2" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.T2'" type="number" step="0.1" v-model="wg.filter.tdf.T2" @input="signalChange">

                            <p>L2</p>
                            <input :data-synthId="'WG[' + index + '].TDF.L2'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.L2" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.L2'" type="number" step="0.1" v-model="wg.filter.tdf.L2" @input="signalChange">

                            <p>T3</p>
                            <input :data-synthId="'WG[' + index + '].TDF.T3'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.T3" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.T3'" type="number" step="0.1" v-model="wg.filter.tdf.T3" @input="signalChange">

                            <p>Sustain</p>
                            <input :data-synthId="'WG[' + index + '].TDF.Sustain'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.Sustain" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.Sustain'" type="number" step="0.1" v-model="wg.filter.tdf.Sustain" @input="signalChange">

                            <p>T4</p>
                            <input :data-synthId="'WG[' + index + '].TDF.T4'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.T4" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.T4'" type="number" step="0.1" v-model="wg.filter.tdf.T4" @input="signalChange">

                            <p>L4</p>
                            <input :data-synthId="'WG[' + index + '].TDF.L4'" type="range" min="0" max="60" step="0.1" v-model="wg.filter.tdf.L4" @input="signalChange">
                            <input :data-synthId="'WG[' + index + '].TDF.L4'" type="number" step="0.1" v-model="wg.filter.tdf.L4" @input="signalChange">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="global" role="tabpanel" aria-labelledby="global-tab">
                <!-- Globals -->
                <p><b>Global</b></p>

                <p>Mix mode</p>
                <select :data-synthId="'WGMixMode'" name="mixmode" class="form-control" v-model="global.mixmode" @input="signalChange">
                    <option v-for="item in enumerations.mixmodes">{{item.text}}</option>
                </select>
            </div>

            <div class="tab-pane fade" id="reverb" role="tabpanel" aria-labelledby="reverb-tab">
                <!-- Reverb -->
                <p><b>Reverb</b></p>

                <input :data-synthId="'Reverb.Enabled'" type="checkbox" v-model="reverb.enable" @input="signalChange" />

                <p>Delay samples</p>
                <input :data-synthId="'Reverb.SampleLength'" type="range" min="1" max="100000" step="100" v-model="reverb.delay" @input="signalChange">
                <input :data-synthId="'Reverb.SampleLength'" type="number" step="100" v-model="reverb.delay" @input="signalChange">

                <p>Feedback</p>
                <input :data-synthId="'Reverb.Feedback'" type="range" min="0.01" max="1" step="0.01" v-model="reverb.feedback" @input="signalChange">
                <input :data-synthId="'Reverb.Feedback'" type="number" step="0.01" v-model="reverb.feedback" @input="signalChange">

                <p>Level</p>
                <input :data-synthId="'Reverb.Level'" type="range" min="0.01" max="1" step="0.01" v-model="reverb.level" @input="signalChange">
                <input :data-synthId="'Reverb.Level'" type="number" step="0.01" v-model="reverb.level" @input="signalChange">
                </divclass="tab-pane>
            </div>

        </div>
    </div>

    <script>

        var ws;

        function WebSocketConnect() {

            if ("WebSocket" in window) {

                // Let us open a web socket
                ws = new WebSocket("ws://localhost:1235/ws");

                ws.onopen = function () {

                    // Web Socket is connected, send data using send()
                    //ws.send("Message to send");
                    alert("Socket open");
                };

                ws.onmessage = function (evt) {
                    var received_msg = evt.data;
                    alert("Message is received...");
                };

                ws.onclose = function () {
                    // websocket is closed.
                    alert("Connection is closed...");
                };
            } else {

                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
            }
        }

        WebSocketConnect();

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                enumerations: {
                    waveformtype: [
                        { id: 0, text: 'MUTE' },
                        { id: 1, text: 'SQUARE' },
                        { id: 2, text: 'SIN' },
                        { id: 3, text: 'SAW' },
                        { id: 4, text: 'NOISE' },
                        { id: 5, text: 'RND_SQ' },
                        { id: 6, text: 'PCM' },
                    ],
                    lfowaveformtype: [
                        { id: 0, text: 'MUTE' },
                        { id: 1, text: 'SQUARE' },
                        { id: 2, text: 'SIN' },
                        { id: 3, text: 'SAW' },
                        { id: 4, text: 'NOISE' },
                        { id: 5, text: 'RND_SQ' }
                    ],
                    lfoID: [
                        { id: 0, text: '0' },
                        { id: 1, text: '1' },
                        { id: 2, text: '2' },
                        { id: 3, text: '3' },
                        { id: 4, text: '4' },
                        { id: 5, text: '5' },
                        { id: 6, text: '6' },
                        { id: 7, text: '7' },
                        { id: 8, text: '8' },
                    ],
                    filterType: [
                        { id: 0, text: 'OFF' },
                        { id: 1, text: 'LPF' },
                        { id: 2, text: 'HPF' },
                        { id: 3, text: 'BPF' },
                        /*{ id: 4, text: 'BPF2' },
                        { id: 5, text: 'NOTCH' },
                        { id: 6, text: 'APF' },
                        { id: 7, text: 'PEAKINGEQ' },
                        { id: 8, text: 'LOWSHELF' },
                        { id: 8, text: 'HIGHSHELF' },*/
                    ],
                    mixmodes: [
                        { id: 65, text: 'MIX' },
                        { id: 66, text: 'RING' },
                        { id: 61, text: 'RING_MIX' },

                        { id: 0, text: 'WG0' },
                        { id: 1, text: 'WG0' },
                        { id: 2, text: 'WG0' },
                        { id: 3, text: 'WG0' },
                        { id: 4, text: 'WG0' },
                        { id: 5, text: 'WG0' },
                        { id: 6, text: 'WG0' },
                        { id: 7, text: 'WG0' }
                    ]
                },
                lfos: [
                    {
                        selectedWaveformType: "SIN",
                        frequency:0.2
                    },
                    {
                        selectedWaveformType: "SQUARE",
                        frequency: 1.0
                    },
                    {
                        selectedWaveformType: "SAW",
                        frequency: 1.0
                    },
                    {
                        selectedWaveformType: "NOISE",
                        frequency: 1.0
                    },
                    {
                        selectedWaveformType: "RND_SQ",
                        frequency: 1.0
                    },
                    {
                        selectedWaveformType: "MUTE",
                        frequency: 1.0
                    },
                    {
                        selectedWaveformType: "MUTE",
                        frequency: 1.0
                    },
                    {
                        selectedWaveformType: "MUTE",
                        frequency: 1.0
                    }
                ],
                wavegenerators: [
                    {
                        waveform: {
                            selectedWaveformType: "MUTE",
                            pwmLFOId: "0",
                            pwmLFOLevel: "0"
                        },
                        pitch: {
                            enablePitchBend: false,
                            pitchBendSemitones: 0,
                            pitchOffestSemitones: 0,
                            pitchLFOId: "0",
                            pitchLFOLevel: 0,
                            pitchLFODelay: 0,
                            tdp: {
                                T1: 0,
                                L1: 0,
                                T2: 0,
                                L2: 0,
                                T3: 0,
                                Sustain: 0,
                                T4: 0,
                                L4: 0,
                            }
                        },
                        amplitude:
                        {
                            velocityVolumeAdjust: 0,
                            velocityPanAdjust:0,
                            tda: {
                                T1: 0,
                                L1: 0,
                                T2: 0,
                                L2: 0,
                                T3: 0,
                                Sustain: 0,
                                T4: 0,
                                L4: 0,
                            }
                        },
                        filter: {

                            filterType: "OFF",
                            Q: 0,
                            RelativeFrequency : 1,
                            Velocity: 0,
                            tdf: {
                                T1: 0,
                                L1: 0,
                                T2: 0,
                                L2: 0,
                                T3: 0,
                                Sustain: 0,
                                T4: 0,
                                L4: 0,
                            }
                        }
                    },
                    {
                        waveform: {
                            selectedWaveformType: "MUTE",
                            pwmLFOId: "0",
                            pwmLFOLevel: "0"
                        },
                        pitch: {
                            enablePitchBend: false,
                            pitchBendSemitones: 0,
                            pitchOffestSemitones: 0,
                            pitchLFOId: "0",
                            pitchLFOLevel: 0,
                            pitchLFODelay: 0,
                            tdp: {
                                T1: 0,
                                L1: 0,
                                T2: 0,
                                L2: 0,
                                T3: 0,
                                Sustain: 0,
                                T4: 0,
                                L4: 0,
                            }
                        },
                        amplitude:
                        {
                            velocityVolumeAdjust: 0,
                            velocityPanAdjust: 0,
                            tda: {
                                T1: 0,
                                L1: 0,
                                T2: 0,
                                L2: 0,
                                T3: 0,
                                Sustain: 0,
                                T4: 0,
                                L4: 0,
                            }
                        },
                        filter: {

                            filterType: "OFF",
                            Q: 0,
                            RelativeFrequency: 1,
                            Velocity: 0,
                            tdf: {
                                T1: 0,
                                L1: 0,
                                T2: 0,
                                L2: 0,
                                T3: 0,
                                Sustain: 0,
                                T4: 0,
                                L4: 0,
                            }
                        }
                    },
                ],
                global:
                {
                    mixmode:"MIX"
                },
                reverb:
                {
                    enable:true,
                    delay: 1000,
                    feedback: 0.1,
                    level: 0.1
                }
            },
            methods: {
                signalChange: function (evt) {
                    var message = "Patch:" + evt.target.getAttribute("data-synthId") + "=" + evt.target.value;

                    //alert(message);
                    ws.send(message);
                }
            }

        })



    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>




</html>